<!-- ======= Mobile nav toggle button ======= -->
<button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

<!-- ======= Header ======= -->
<header id="header">
  <div class="d-flex flex-column">

    <div class="profile">
      <img src="assets/img/profile-img.png" alt="" class="img-fluid rounded-circle">
      <h1 class="text-light"><a href="index.html">Pradeep Kumar</a></h1>
      <div class="social-links mt-3 text-center">
        <a href="https://twitter.com/prady00" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="https://www.instagram.com/prady00/" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="https://github.com/prady00" class="google-plus"><i class="bx bxl-github"></i></a>
        <a href="https://www.linkedin.com/in/prady00/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>

    <nav class="nav-menu">
      <ul>
        <li {% if page=="home" %}class="active"{% endif %}><a href="index.html"><i class="bx bx-home"></i> <span>Home</span></a></li>
        <li><a href="#about"><i class="bx bx-user"></i> <span>About</span></a></li>
        <li><a href="#resume"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
        <li {% if page=="portfolio" %}class="active"{% endif %}><a href="#portfolio"><i class="bx bx-book-content"></i> Projects</a></li>
        <li><a href="#opensource"><i class="bx bxl-github"></i> <span>Open Source</span></a></li>
        <li><a href="#newsletter"><i class="bx bx-mail-send"></i> <span>Newsletter</span></a></li>
        <li><a href="#contact"><i class="bx bx-envelope"></i> Contact</a></li>
      </ul>
    </nav><!-- .nav-menu -->
    <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>

  </div>
</header><!-- End Header -->
