{% extends "template.html" %}

{% set page ='home' %}

{% block meta %}
  <title>Pradeep Kumar</title>
  <meta content="Pradeep Kumar Machine Learning and Artificial Intelligence Engineer" name="descriptison">
  <meta content="Pradeep Kumar Machine Learning and Artificial Intelligence Engineer" name="keywords">
{% endblock %}

{% block content %}

  {% include "parts/hero.html" %}

  <main id="main">

    {% include "parts/about-section.html" %}

    {% include "parts/facts-section.html" %}

    {% include "parts/skills-section.html" %}

    {% include "parts/resume-section.html" %}

    {% include "parts/portfolio-section.html" %}

    {% include "parts/services-section.html" %}

    {% include "parts/testimonials-section.html" %}

    {% include "parts/contact-section.html" %}

  </main><!-- End #main -->

{% endblock %}
